.spinny-picture {
    animation-name: roll;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    max-width: 50%;
    max-height: 50%;
}

@keyframes roll {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg)
    }
}